<div class="container-fluid p-4">
  <h3>List Movies</h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>
        <div class="d-flex justify-content-between align-items-end">
          <span>Year</span>
          <input
            style="width: 150px"
            [(ngModel)]="year"
            (ngModelChange)="searchByYear.next($event)"
            type="number"
            class="form-control"
            placeholder="Filter by year">
        </div>
      </th>
      <th>Title</th>
      <th>
        <div class="d-flex justify-content-between align-items-end">
          <span>Winner</span>
          <div class="form-group">
            <select [ngModel]="undefined" (ngModelChange)="getMovies($event)" class="custom-select">
              <option [ngValue]="undefined">Yes/No</option>
              <option [ngValue]="true">Yes</option>
              <option [ngValue]="false">No</option>
            </select>
          </div>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let movie of movies">
      <td>{{movie.id}}</td>
      <td>{{movie.year}}</td>
      <td>{{movie.title}}</td>
      <td>{{movie.winner ? 'yes' : 'no'}}</td>
    </tr>
    </tbody>
  </table>
  <app-pagination
    [(currPage)]="page"
    [totalPages]="totalPages"
    (currPageChange)="getMovies()"
  ></app-pagination>
</div>
